* {
  font-family: arial, sans-serif;
}

body {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgba(38,217,103,0.75) 0%, rgba(38,217,192,0.3) 50%, rgba(63,217,38,0.75) 100%);
}

h1, h2 { 
  margin: 5px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px;
  padding: 0;
  border: 20px solid rgba(43, 43, 43, 0.8);
  border-right: 12px solid rgba(43, 43, 43, 0.8);
  background-color: rgba(43, 43, 43, 0.8);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  border-radius: 20px;
  overflow: auto; 
}

img {
  width: 400px;
  border-radius: 20px;
  padding: 10px;
}

.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

table {
  background-color: rgba(43, 43, 43, 0.8);
  border-collapse: collapse;
  margin-bottom: 20px;
}

td, th {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  text-align: center;
  background-color: rgba(104, 104, 104, 0.8);
}

::-webkit-scrollbar {
  background-color: rgba(43, 43, 43, 0.8);
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::placeholder {
  text-align: center;
}

textarea{
  position: relative;
  width: 80%;
  height: 80px;
  border-radius: 10px;
  padding: 5px;
}

.bs {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.466);
}

button {
  margin-top: 20px;
  width: 60%;
  height: 40px;
  background-color: rgba(177, 255, 206, 0.75);
  border-radius: 20px;
}

button:hover {
  background-color: rgba(38,217,103,1)
}

.cb {
  width: 15px;
  height: 15px;
}

#inp {
  height: 1.5em;
}