<section class="split-img-container">
  <div>
    <h1>About us</h1>
    <p class="text-block">Jay and Sheila Mergenthaler started The Window Washers Company and began cleaning windows in Missoula, Montana in 1997..  From the beginning, they wanted their small operation to be known for top quality work and the best service at a competitive price.  Their reputation spread, and soon they realized they needed help to keep up with the growing demand and expand the range of services they offered.  Now, over a decade and a half later, The Window Washers employ a dedicated team of over a dozen employees and have cleaned windows and more for thousands of satisfied, loyal customers.  Even though their business grew to be one of the largest of its kind in Montana, Jay and Sheila always made sure The Window Washers provided the same quality work and service they had from the beginning.  To achieve this, The Window Washers Company does the following:</p>
  </div>
  <img src="./assets/owners.jpg">
</section>

<section class="split-img-container">
  <img src="./assets/team.jpg">
  <div>
    <h1>Why choose us?</h1>
    <ul class="about-cards">
      <li>We only employ the most reliable, trustworthy people and train each of them thoroughly.</li>
      <li>We provide our employees with the tools and knowledge they need to be professional, thorough, and efficient.</li>
      <li>We provide regular safety instruction to make sure our employees as well as our customers and their property are safe.</li>
      <li>We maintain membership in the IWCA to stay up-to-date on the latest equipment, technology and window cleaning-related issues.</li>
      <li>We strive to build a personal rapport with our customers and do the little extras to exceed their expectations.</li>
      <li>We guarantee you'll be happy with the results!</li>
    </ul>
  </div>
</section>
