<section class="split-img-container">
  <div>
    <h1>Charity organizations we sponsor:</h1>
    <ul class="about-cards">
      <li>Humane Society of Western Montana</li>
      <li>Missoula Ronald McDonald House</li>
      <li>Missoula Public Library</li>
      <li>Watson Children's Shelter, Fort Missoula Rd.</li>
      <li>Watson Children's Shelter, Buckhouse Ln.</li>
      <li>St. Patrick House</li>
    </ul>
  </div>
  <img src="./assets/clean1.jpg">
</section>

<section>
  <h1>Frequently Asked Questions</h1>
  <ul class="faq-cards">
    <li>
      <h3>What do you charge for window cleaning?</h3>
      <p>We charge per window pane, but the price varies depending on the size and difficulty of access. Instead of trying to figure it out over the phone or online, we come to your house or place of business and do a free estimate. This eliminates confusion about prices. And we can usually count all the windows by walking around outside the building, so you don't need to be home.</p>
    </li>
    <li>
      <h3>How do you get windows so clean?</h3>
      <p>You need the right tools and techniques as well as attention to detail. We use strip-washers to apply cleaning solution to and scrub the glass and squeegees to clear it away. Then we use cotton towels to 'detail' the windows (dry the small amount of water remaining around the edges of the glass after squeegeeing). We also use these towels and microfiber towels for the window frames, sills, and tracks. For really dirty glass, we use scrub pads in addition to the strip-washers, and to remove paint, stickers, adhesives etc. razor blades are used.</p>
    </li>
    <li>
      <h3>Is it safe to use razor blades on glass?</h3>
      <p>Despite what glass companies and others may say, razor blades do not scratch glass. Plexiglass and window tinting or coatings can be scratched with razors, however. And glass can be scratched by other substances when these substances are pushed across glass by a razor. For instance, particles of sand, concrete or masonry on a window may become trapped under a razor blade and cause scratches. Also, tiny bits of glass that are often present on the surface of tempered glass can be dislodged by a razor and cause scratches. These glass bits, known as 'fines' or 'fabricating debris, are created by cutting glass and fused to its surface during tempering. They are invisible to the naked eye, so razors shouldn't be used on such glass Knowledge of these issues and proper razor blade use are essential. It's best to leave this to an experienced window cleaner.</p>
    </li>
    <li>
      <h3>We often see scratches around the edges of the glass in windows with wooden frames - they're caused by sandpaper or sanding blocks. Be sure protect the glass and use care when sanding a window frame.</h3>
      <p>Glass can also be pitted (or cracked) by pebbles thrown by mowers or other landscaping work. Basement windows are sometimes damaged when window wells are filled with gravel. And metalworking generates sparks which are actually tiny bits of hot metal that can fuse to glass surfaces nearby. Windows near metal railings on decks or in stairwells can suffer this damage if not protected.</p>
    </li>
  </ul>
</section>