<section class="split-img-container">
  <div>
    <h1>Call Our Office</h1>
    <ul class="contact-list">
      <li><ion-icon name="call"></ion-icon> (406) 721-2666 </li>
        <li><ion-icon name="mail"></ion-icon> TheWindowWashers@Hotmail.com </li>
    </ul>
  </div>
  <img src="./assets/cleaners.jpg">
</section>

<section>
  <h1>Get your <em>FREE</em> quote today for any of our services!</h1>
  <ul>
    <li>Window Washing</li>
    <li>Screen Cleaning</li>
    <li>Pressure Washing</li>
    <li>Calcium Deposit Removal</li>
    <li>Gutter Cleaning</li>
  </ul>
</section>

<section>
  <h1>Why choose us?</h1>
  <ul class="offer-container">
    <li><ion-icon name="checkmark-circle"></ion-icon> 100% Satisfaction Guarantee</li>
    <li><ion-icon name="checkmark-circle"></ion-icon> Licensed and Insured</li>
    <li><ion-icon name="checkmark-circle"></ion-icon> Free Quotes</li>
    <li><ion-icon name="checkmark-circle"></ion-icon> Friendly and Professional Staff</li>
    <li><ion-icon name="checkmark-circle"></ion-icon> Locally Owned and Operated</li>
  </ul>
</section>